In [13]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
import pickle

In [14]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [15]:
# Preprocess data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [16]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [17]:
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=[onehot_encoder_geo.get_feature_names_out(['Geography'])])
geo_encoded_df

     Geography_France Geography_Germany Geography_Spain
0                 1.0               0.0             0.0
1                 0.0               0.0             1.0
2                 1.0               0.0             0.0
3                 1.0               0.0             0.0
4                 0.0               0.0             1.0
...               ...               ...             ...
9995              1.0               0.0             0.0
9996              1.0               0.0             0.0
9997              1.0               0.0             0.0
9998              0.0               1.0             0.0
9999              1.0               0.0             0.0

[10000 rows x 3 columns]

In [18]:
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,"(Geography_France,)","(Geography_Germany,)","(Geography_Spain,)"
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [19]:
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=42)

In [23]:
X_train.columns = ['_'.join(map(str, col)) if isinstance(col, tuple) else str(col) for col in X_train.columns]
X_test.columns = ['_'.join(map(str, col)) if isinstance(col, tuple) else str(col) for col in X_test.columns]

In [24]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [25]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [28]:
model = Sequential([    
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1) # by default linear activation will be applied since its used for regression
    ])

model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

model.summary()

d:\VS Code\Python\Gen AI Playlist\Venv Folder\ann churn project\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_4 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_6 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
# Setup tensorBoard
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime
log_dir = 'regressionlogs/fit/' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [31]:
# Setup Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [32]:
# Train the model
history = model.fit(
    X_train, y_train, validation_data=(X_test, y_test), 
    epochs=50, 
    callbacks=[early_stopping_callback, tensorflow_callback]
)

Epoch 1/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 5ms/step - loss: 100372.2734 - mae: 100372.2734 - val_loss: 98497.3984 - val_mae: 98497.3984
Epoch 2/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 99577.0078 - mae: 99577.0078 - val_loss: 96904.6016 - val_mae: 96904.6016
Epoch 3/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 96829.7266 - mae: 96829.7266 - val_loss: 92873.7188 - val_mae: 92873.7188
Epoch 4/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 91479.3281 - mae: 91479.3281 - val_loss: 86240.6328 - val_mae: 86240.6328
Epoch 5/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 83752.7656 - mae: 83752.7656 - val_loss: 77714.5859 - val_mae: 77714.5859
Epoch 6/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 74625.9219 - mae: 74625.9219 - val_loss: 68917.1328 - val_mae: 68917.1328
Epoch 7/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 65862.7734 - mae: 65862.7734 - val_loss: 61407.7930 - val_mae: 61407.7930
Epoch 8/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 58949.3320 - mae: 58949.3320 - val_loss: 56053.8203 - val_mae: 56053.8203
Epoch 9/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 54515.3359 - mae: 54515.3359 - val_loss: 52981.9453 - val_mae: 52981.9453
Epoch 10/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 52176.6016 - mae: 52176.6016 - val_loss: 51711.2695 - val_mae: 51711.2695
Epoch 11/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 51135.8398 - mae: 51135.8398 - val_loss: 51177.6367 - val_mae: 51177.6367
Epoch 12/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50676.4844 - mae: 50676.4844 - val_loss: 50982.1406 - val_mae: 50982.1406
Epoch 13/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50480.4961 - mae: 50480.4961 - val_loss: 50878.5586 - val_mae: 50878.5586
Epoch 14/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50377.4141 - mae: 50377.4141 - val_loss: 50804.3750 - val_mae: 50804.3750
Epoch 15/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50299.4492 - mae: 50299.4492 - val_loss: 50749.8398 - val_mae: 50749.8398
Epoch 16/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50239.8906 - mae: 50239.8906 - val_loss: 50691.9414 - val_mae: 50691.9414
Epoch 17/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50193.5273 - mae: 50193.5273 - val_loss: 50649.1484 - val_mae: 50649.1484
Epoch 18/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50144.8945 - mae: 50144.8945 - val_loss: 50603.2109 - val_mae: 50603.2109
Epoch 19/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50100.5352 - mae: 50100.5352 - val_loss: 50569.8906 - val_mae: 50569.8906
Epoch 20/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50060.8750 - mae: 50060.8750 - val_loss: 50535.4688 - val_mae: 50535.4688
Epoch 21/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50023.7461 - mae: 50023.7461 - val_loss: 50497.7305 - val_mae: 50497.7305
Epoch 22/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49989.7617 - mae: 49989.7617 - val_loss: 50479.4883 - val_mae: 50479.4883
Epoch 23/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49960.0703 - mae: 49960.0703 - val_loss: 50446.1680 - val_mae: 50446.1680
Epoch 24/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49927.9102 - mae: 49927.9102 - val_loss: 50423.8555 - val_mae: 50423.8555
Epoch 25/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49898.0547 - mae: 49898.0547 - val_loss: 50414.4688 - val_mae: 50414.4688
Epoch 26/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49871.7930 - mae: 49871.7930 - val_loss: 50396.9219 - val_mae: 50396.9219
Epoch 27/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49845.1719 - mae: 49845.1719 - val_loss: 50380.1562 - val_mae: 50380.1562
Epoch 28/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49823.0508 - mae: 49823.0508 - val_loss: 50367.5547 - val_mae: 50367.5547
Epoch 29/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49799.8359 - mae: 49799.8359 - val_loss: 50351.2656 - val_mae: 50351.2656
Epoch 30/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49782.0078 - mae: 49782.0078 - val_loss: 50335.3828 - val_mae: 50335.3828
Epoch 31/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49762.4375 - mae: 49762.4375 - val_loss: 50326.3984 - val_mae: 50326.3984
Epoch 32/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49742.0781 - mae: 49742.0781 - val_loss: 50312.1797 - val_mae: 50312.1797
Epoch 33/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49727.0352 - mae: 49727.0352 - val_loss: 50299.9570 - val_mae: 50299.9570
Epoch 34/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49709.9258 - mae: 49709.9258 - val_loss: 50278.6562 - val_mae: 50278.6562
Epoch 35/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49691.9375 - mae: 49691.9375 - val_loss: 50277.2891 - val_mae: 50277.2891
Epoch 36/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49677.0977 - mae: 49677.0977 - val_loss: 50275.2344 - val_mae: 50275.2344
Epoch 37/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49661.7891 - mae: 49661.7891 - val_loss: 50267.2305 - val_mae: 50267.2305
Epoch 38/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49650.2383 - mae: 49650.2383 - val_loss: 50269.1328 - val_mae: 50269.1328
Epoch 39/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49634.0273 - mae: 49634.0273 - val_loss: 50263.8516 - val_mae: 50263.8516
Epoch 40/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49623.0742 - mae: 49623.0742 - val_loss: 50265.1914 - val_mae: 50265.1914
Epoch 41/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49612.2422 - mae: 49612.2422 - val_loss: 50245.8867 - val_mae: 50245.8867
Epoch 42/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49598.9102 - mae: 49598.9102 - val_loss: 50246.6211 - val_mae: 50246.6211
Epoch 43/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49589.9688 - mae: 49589.9688 - val_loss: 50239.7070 - val_mae: 50239.7070
Epoch 44/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49576.6367 - mae: 49576.6367 - val_loss: 50238.7344 - val_mae: 50238.7344
Epoch 45/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49567.4141 - mae: 49567.4141 - val_loss: 50236.6328 - val_mae: 50236.6328
Epoch 46/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49558.3750 - mae: 49558.3750 - val_loss: 50233.7305 - val_mae: 50233.7305
Epoch 47/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49548.1250 - mae: 49548.1250 - val_loss: 50242.9453 - val_mae: 50242.9453
Epoch 48/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49540.3320 - mae: 49540.3320 - val_loss: 50235.3828 - val_mae: 50235.3828
Epoch 49/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49529.7852 - mae: 49529.7852 - val_loss: 50232.8867 - val_mae: 50232.8867
Epoch 50/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49519.7188 - mae: 49519.7188 - val_loss: 50236.9648 - val_mae: 50236.9648

In [33]:
test_loss, test_mae = model.evaluate(X_test,y_test)
print(f'Test MAE: {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 50232.8867 - mae: 50232.8867
Test MAE: 50232.88671875

In [34]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.